@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;

// colors


// Font
$font-medium: 16px !default;

// Layout
$grid-gutter-width: 24px !default;

// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #EAEDF1;
  scroll-behavior: smooth;
}

* {
  font-family: $font-family !important;
}  

img {
  max-width: 100%;
  max-height: 100%;
}