@charset 'UTF-8';

// Setting
@import 'default';

/*!
 *  flexible-grid by @kenangundogan - https://flexible-grid.com - @flexible-grid
 *  License - https://flexible-grid.com/license (CSS: MIT License)
 */
// flexible grid components
@import "flexible-grid/normalize.scss";
@import "flexible-grid/variables.scss";
@import "flexible-grid/definitions.scss";
@import "flexible-grid/array-list.scss";
@import "flexible-grid/wrapper.scss";
@import "flexible-grid/grid.scss";
@import "flexible-grid/attribute.scss";

 